
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ZamWeb</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to ZAMWEB</h1>
        <p>World of Mini Projects</p>
       
    </div>
</body>
</html>
<style>

    .container {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        text-align : center;
    }

    h1 {
        margin-top: 0;
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
        margin: 20px 0;
    }

   

        .btn:hover {
            background-color: #0056b3;
        }
</style>