@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CMaz</h1>
    <p>Home Page.</p>
</div>
<div>
    <a href="/mpage/mazdapage" class="btn btn-primary">Click Me!</a>
</div>